header {
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  background-color: #6f372b;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  margin: -7px 0px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.459);
  color: gray;
  transition:  text-shadow ease 0.8s;
}
h1:hover {
  text-shadow: 0px 1px 20px rgba(255, 255, 255, 0.678);
  transition-duration: 0.8s;
 
}

body {
  background-color: #6f372b;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 40px 40px;
  font-size: 20px;
color: gray;
  max-width: 1000px;
  transition: transform ease 0.8s, text-shadow ease 0.8s;
  text-align: center;
  display: block;
  margin: auto;
}

p:hover {
  text-shadow: 0px 1px 20px rgba(255, 255, 255, 0.705);
  transition-duration: 0.8s;
  transform: scale(1.01);
}

.container {
  display: block;
  height: 200px;
 
}
.item { 
  margin: 20px 0px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  height: 80px;
  background-color: #3d1109;
  transition: 0.35s;
  cursor: pointer;
  border-radius: 15px;
}
.container:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.8);
}
a {
  padding: 10px;
  border-radius: 20px;
  color: gray;
  position: relative;
  left: 45%;
  top: 40%;
  
border: #935648 solid 1px;
  text-decoration: none;
}

