body {
  background-image: url(../imagens/fundo-madeira.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: right;
}

/* fundo st */
div.iphone {
  background-image: url(../imagens/frame-iphone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-attachment: fixed;
  display: flex;
  width: 30%;
  height: 50vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  justify-content: center;
  align-items: center;

  min-height: 100px;
 
}
iframe {
  border: solid 3px white;
  margin-top: 7px;
 background-image: url(../imagens/tela-home.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  height: 37.5vw;
  width: 21vw;
 overflow-y: scroll;
 min-height:190px;
 min-width: 105px

;
}

/*celular conf. */

img {
  margin-bottom: 20px;
  width: 50px;
  border-radius: 30px;
  transition: transform ease 0.6s, box-shadow ease 0.6s;
}
img:hover {
  transition-duration: 0.2s;
  transform: translate(-10px, -10px);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.459);
}

ul {
  list-style-type: none;
}
